@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: #522a09;
    --secondary-color: #FBC166;
    --accent1-color: #185536;
    --accent2-color: #B2605E;

    --heading-font: 'Climate Crisis', sans-serif; 
    --paragraph-font: 'Quicksand', sans-serif;

    --nav-background-color: #FBC166;
    --nav-link-color: #185536;
    --nav-hover-link-color: #B2605E;
    --nav-hover-background-color: #FBC166;
}
*{
   font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {  
    font-family: var(--heading-font);
    color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: center;

}


p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    max-width: 960px;
    padding: 20px;
}

a:link { 
   text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

header {
	display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
}

.history {
   display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-around;
   max-width: 1000px;
}

.news-events {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   align-items: center;
   justify-content: center;
   justify-content: space-around;
   max-width: 1000px;
}

.gallery {
   display: flex;
   justify-content: space-between;
}

.gallery figure {
   width: calc(10% - 5px);
   margin-bottom: 20px;
   text-align: center;
}

.gallery img {
   width: 200px;
   height: 200px;
   display: block;
}

.gallery figcaption {
   margin-top: 5px;
}

.gallery-home {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
}

.gallery-home figure {
   width: calc(75% - 10px);
   margin-bottom: 50px;
   text-align: center;
}

.gallery-home img {
   width: 350px;
   height: 250px;
   display: block;
}

.gallery-home figcaption {
   margin-top: 5px;
}

.gallery-trip {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: space-around;
}

.gallery-trip figure {
   width: calc(75% - 10px);
   margin-bottom: 50px;
   text-align: center;
}

.gallery-trip img {
   width: 350px;
   height: 250px;
   display: block;
}

.gallery-trip figcaption {
   margin-top: 5px;
}

nav { 
   display: flex;
   list-style: none;
   justify-content: space-around;
}

  body {
    width:1000px;
    margin:0 auto;
 }

 div.hero {
    margin: 10px auto;
    position: relative;
 }

 div.hero img {
    display: block;
    width: 100%;
    height: auto;
 }

div.hero-home-text {
   position: absolute;
   bottom: 170px;
   text-align: center;
   left: 35%;
   background: white;
   opacity: 0.8;
}
 .hero-home img {
   display: block;
   width: 100%;
   height: auto;
 }

 h1 {
    position: absolute;
    top: 100px;
    background: white;
    opacity: 0.8;
    width: 100%;
    text-align : center;
 
 }

 .contact-page h1 {
   position: inherit;
 }

 .home-page h1 {
   position: inherit;
 }
 
 .contact-page p {
   text-align: center;
 }

 .trip-page h1 {
   position: inherit;
 }

 .trip-page {
   text-align: center;
 }

 .companyinfo {
   float: left;
   text-align: center;
   border: 1px solid black;
   padding: 30px;
 }

 .tripinfo { 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
   border: 1px solid black;
 }

 .tripinfo > * {
   border: 1px solid black;
 }

 .tripinfo h3, .tripinfo h4, .tripinfo h5 {
   grid-column: auto;
 }

 .tripinfo p {
   grid-column: span 3;
 }


 iframe { 
   width: 500px;
   height: 400px;
 }

 .egallery {
   float: right;
   text-align: center;
   border: 1px solid black;
   padding: 20px;
 }

 .egallery img {
   width: 270px;
   height: 230px;
   display: block;
}

 form {
   text-align: center;
   clear: both;
   max-width: 1000px;
   margin: 10px auto;
   padding: 5px;
   background-color: var(--secondary-color);
   font-family: var(--paragraph-font);

    
 }

 input[type="submit"] {
   width: 150px; 
   height: 40px; 
   background-color: var(--accent2-color);
   color: black;
   border: none; 
 }

 /*article { 
    position: absolute;
    top: 100px;
    background: white;
    opacity: 0.8;
    float: center;
    
 }*/
 article img { 
    position: absolute;
    top: 400px;
    right: 20px;
    max-width: 25%;
    max-height: 25%;
 }

 article p { 
    position: absolute;
    top: 400px;
    left: 20px;
    background: white;
    opacity: 0.8;
    width: 65%;
    text-align : left;
 }

 footer, .sociallinks {
   display: flex; 
   justify-content: space-around;
   padding-top: 15px;
   padding-bottom: 10px;
 }

 header img {
   width: 400px;

 }
